
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    color: #171717;
    font-variant-numeric: lining-nums;
    background: #FBFFFF;
    padding: 1rem;
}

h1, h2 {
    color: #2C6C69;
}

button, .button {
    background: none;
    border-radius: 4px;
    padding: 10px;
    border: solid 1px #ddd;
    text-decoration: none;
}

button:hover, .button:hover {
    outline: dotted 1px #2C6C69;
    outline-offset: 2px;
}

button:focus, .button:focus {
    outline: solid 1px #2C6C69;
    outline-offset: 2px;
}

button.primary, .button.primary {
    border-color: #2C6C69;
    background: #2C6C69;
    color: #FFFFFF;
}

button.secondary, .button.secondary {
    border-color: #2C6C69;
    color: #2C6C69;
}

button.destructive {
    border-color: #9D1616;
    color: #9D1616;
    border-radius: 50%;
    padding: 5px;
}

button.destructive img {
    vertical-align: middle;
}

button.destructive:hover, button.destructive:focus {
    outline-color: #9D1616;
}

button, .button, input {
    background: none;
    border-radius: 4px;
    padding: 10px;
    border: solid 1px #DDD;
    text-decoration: none;
    display: inline-block;
}

th, dt {
    color: #3A3A3A;
    font-weight: normal;
    font-size: .875rem;
}

dt::after {
    content: ": ";
}

tbody td:nth-of-type(2), tfoot td {
    font-weight: bold;
}

tbody tr:nth-of-type(even) {
    background: #F2FCFC;
}

table {
    border-collapse: collapse;
}

tr {
    border-top: solid 1px #AEB7B7;
}

table {
    width: 100%;
}

dl {
    display: grid;
    gap: .5rem;
    grid-template-columns: auto max-content;
    padding: 0 1rem;
}

dd {
    text-align: right;
}

main {
    max-width: 1280px;
    margin: 0 auto;
}

.actions {
    padding: 1rem;
    text-align: center;
}

.actions a {
    margin: 0 .25rem .5rem;
}

section {
    margin: 1rem 0;
}

section h2 {
    padding: 1rem;
    margin: 0;
}

@media(max-width: 549px) {
    td, tr {
        display: block;
    }

    table td > img {
        float: left;
        margin-right: 10px;
    }

    thead {
        position: absolute;
        left: -9999rem;
    }

    td {
        text-align: right;
        padding: 5px;
        vertical-align: baseline;
    }

    td[data-name]::before {
        content: attr(data-name) ":";
        float: left;
    }

    tfoot tr {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    tfoot th {
        padding: 5px;
    }
}

input[type="number"] {
    text-align: right;
}

@media (min-width: 550px) {
    th {
        text-align: left;
    }

    th:nth-of-type(n+3), td:nth-of-type(n+3) {
        text-align: right;
    }

    td, th {
        padding: 10px;
    }
}

@media (min-width: 955px) {
    .section-container {
        display: flex;
        gap: 20px;
    } 

    section.my-cart {
        flex-grow: 1;
    }

    section.summary {
        flex-basis: 250px;
    }
}
